<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.FbCommentMapper">

 <select id="doRetrieveByFbCode" parameterType="int" resultType="FreeBoardCommentDTO">
        SELECT
            commented_Code,
            fb_code,
            content,
            user_id,
            c_dt
        FROM
            commentedCode
        WHERE
            fb_code = #{fbCode}
        ORDER BY c_dt ASC
    </select>

      <select id="doRetrieve" parameterType="SearchDTO" resultType="FreeBoardCommentDTO"  >
    SELECT 
        commented_code,
        fb_code,
        user_id,
        content,
        c_dt,
        up_dt 
    FROM FB_COMMENTED 
    WHERE fb_code = #{searchWord}
    ORDER BY c_dt DESC
   </select>
  

    <!-- 단건 조회 -->
    <select id="doSelectOne" resultType="FreeBoardCommentDTO" parameterType="FreeBoardCommentDTO">
<!--     SELECT
    COMMENTED_CODE,
    FB_CODE,
    USER_ID,
    CONTENT,
    C_DT,
    UP_DT
    FROM FB_COMMENTED
    WHERE COMMENTED_CODE = #{commentedCode}; -->
    
        SELECT * 
    FROM FB_COMMENTED
    WHERE COMMENTED_CODE = #{commentedCode}
    </select>

    
      <!-- 댓글 등록 -->
    <insert id="doSave" parameterType="FreeBoardCommentDTO">
    INSERT INTO FB_COMMENTED (
        commented_Code,
        fb_code,
        content,
        user_id,
        c_dt
    ) VALUES (
        fb_co_seq.NEXTVAL,
        #{fbCode},
        #{content, jdbcType=VARCHAR},  <!-- ✅ 핵심 수정 -->
        #{userId, jdbcType=VARCHAR},
        SYSDATE
    )
    </insert>
    
    <!-- 수정 -->
    <update id="doUpdate" parameterType="FreeBoardCommentDTO">
        UPDATE FB_COMMENTED
        SET 
        CONTENT = #{content},
            UP_DT = SYSDATE
        WHERE COMMENTED_CODE = #{commentedCode}
    </update>


    <!-- 삭제 -->
    <delete id="doDelete" parameterType="FreeBoardCommentDTO">
        DELETE FROM FB_COMMENTED
        WHERE COMMENTED_CODE = #{commentedCode}
    </delete>
    
      <!-- 전체 삭제 -->
      <delete id="deleteAll">
        DELETE FROM FB_COMMENTED
    </delete>
    
    <!-- 등록 건수 세기 -->
      <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) AS totalCnt FROM FB_COMMENTED
    </select>
</mapper>