<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.pcwk.ehr.board.mapper.FreeBoardMapper">

   
    <!-- 자유게시판 등록 -->
    <insert id="doSave" parameterType="FreeBoardDTO">
        INSERT INTO FREE_BOARD (
            FB_CODE,
            USER_ID,
            TITLE,
            CONTENT,
            VIEW_COUNT,
            C_DT,
            UP_DT
        ) VALUES (
            FB_SEQ.NEXTVAL,
            #{userId},
            #{title},
            #{content},
            #{view_count},
            SYSDATE,
            SYSDATE
        )
    </insert>

    <!-- 자유게시판 전체 조회 -->
    <select id="doRetrieve" resultType="FreeBoardDTO">
 SELECT *
FROM (
    SELECT ROWNUM rnum, a.*
    FROM (
        SELECT
            NO_CODE,
            USER_ID,
            TITLE,
            CONTENT,
            VIEW_COUNT,
            C_DT,
            UP_DT
        FROM NOTICE
        WHERE
            (
                ('10' = '10' AND TITLE LIKE '%공지%')
                OR ('10' = '20' AND CONTENT LIKE '%공지%')
                OR ('10' = '30' AND USER_ID LIKE '%공지%')
                OR '10' = ''
            )
        ORDER BY NO_CODE DESC
    ) a
    <![CDATA[
    WHERE ROWNUM <= (1 * 10)
) 
WHERE rnum > ((1 - 1) * 10)
]]>
    </select>

    <!-- 자유게시판 단건 조회 -->
    <select id="doSelectOne" parameterType="int" resultType="FreeBoardDTO">
        SELECT
            FB_CODE,
            USER_ID,
            TITLE,
            CONTENT,
            VIEW_COUNT,
            C_DT,
            UP_DT
        FROM FREE_BOARD
        WHERE FB_CODE = #{fbCode}
    </select>

    <!-- 자유게시판 수정 -->
    <update id="doUpdate" parameterType="FreeBoardDTO">
        UPDATE FREE_BOARD
        SET
            TITLE = #{title},
            CONTENT = #{content},
            UP_DT = SYSDATE
        WHERE FB_CODE = #{fbCode}
    </update>

    <!-- 자유게시판 삭제 -->
    <delete id="doDelete" parameterType="FreeBoardDTO">
        DELETE FROM FREE_BOARD
        WHERE FB_CODE = #{fbCode}
    </delete>

    <!-- 조회수 증가 -->
    <update id="viewCount" parameterType="FreeBoardDTO">
        UPDATE FREE_BOARD
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE FB_CODE = #{fbCode}
    </update>


</mapper>