<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.pcwk.ehr.board.mapper.FreeBoardMapper">

   
    <!-- 자유게시판 등록 -->
    <insert id="doSave" parameterType="FreeBoardDTO">
     <selectKey keyProperty="fbCode" resultType="int" order="BEFORE">
            SELECT FB_SEQ.NEXTVAL FROM dual
               </selectKey>
        INSERT INTO FREE_BOARD (
            FB_CODE,
            USER_ID,
            TITLE,
            CONTENT,
            VIEW_COUNT,
            C_DT,
            UP_DT
        ) VALUES (
            #{fbCode},
            #{userId},
            #{title},
            #{content},
            #{viewCount},
            SYSDATE,
            SYSDATE
        )
    </insert>

    <!-- 자유게시판 전체 조회 -->
    <select id="doRetrieve" resultType="FreeBoardDTO" parameterType="SearchDTO">
<![CDATA[
			SELECT *
			FROM (
			    SELECT 
			        ROW_NUMBER() OVER (ORDER BY FB_CODE DESC) AS rnum,
			        FB_CODE,
			        USER_ID,
			        TITLE,
			        CONTENT,
			        VIEW_COUNT,
			        C_DT,
			        UP_DT
			    FROM FREE_BOARD
			    WHERE
			        (
			            (#{searchDiv, jdbcType=VARCHAR} = '10' AND TITLE LIKE '%' || #{searchWord, jdbcType=VARCHAR} || '%')
			            OR (#{searchDiv, jdbcType=VARCHAR} = '20' AND CONTENT LIKE '%' || #{searchWord, jdbcType=VARCHAR} || '%')
			            OR (#{searchDiv, jdbcType=VARCHAR} = '30' AND USER_ID LIKE '%' || #{searchWord, jdbcType=VARCHAR} || '%')
			        )
			)
			WHERE rnum > (#{pageNo} - 1) * #{pageSize}
			  AND rnum <= #{pageNo} * #{pageSize}
]]>
    </select>

    <!-- 자유게시판 단건 조회 -->
    <select id="doSelectOne" parameterType="FreeBoardDTO" resultType="FreeBoardDTO">
        SELECT
            FB_CODE,
            USER_ID,
            TITLE,
            CONTENT,
            VIEW_COUNT,
            C_DT,
            UP_DT
        FROM FREE_BOARD
        WHERE FB_CODE = #{fbCode}
    </select>
    

    <!-- 자유게시판 수정 -->
    <update id="doUpdate" parameterType="FreeBoardDTO">
        UPDATE FREE_BOARD
        SET
            TITLE = #{title},
            CONTENT = #{content},
            UP_DT = SYSDATE
        WHERE FB_CODE = #{fbCode}
    </update>
    
         <!-- 5. 전체 건수 -->
    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM FREE_BOARD
    </select>
    
            <!-- 7. 전체 삭제  -->
    <delete id="deleteAll">
        DELETE FROM NOTICE
    </delete>
    
    <!-- 자유게시판 삭제 -->
    <delete id="doDelete" parameterType="FreeBoardDTO">
        DELETE FROM FREE_BOARD
        WHERE FB_CODE = #{fbCode}
    </delete>

    <!-- 조회수 증가 -->
    <update id="viewCount" parameterType="FreeBoardDTO">
        UPDATE FREE_BOARD
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE FB_CODE = #{fbCode}
    </update>


</mapper>