<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.NoCommentMapper">


 <select id="doRetrieveByNoCode" parameterType="int" resultType="NoticeCommentDTO">
        SELECT
            commented_Code,
            no_code,
            content,
            user_id,
            c_dt
        FROM
            commentedCode
        WHERE
            no_code = #{noCode}
        ORDER BY c_dt ASC
    </select>

<select id="doRetrieve" parameterType="String" resultType="NoticeCommentDTO">
    SELECT 
        NC.commented_code,
        NC.no_code,
        NC.user_id,
        NC.content,
        NC.c_dt,
        NC.up_dt,
        
        -- 좋아요 수
        (SELECT COUNT(*) 
         FROM L_REACTION 
         WHERE target_type = 'COMMENT' 
           AND target_code = NC.commented_code 
           AND reaction_type = 'L') AS likeCount,

        -- 싫어요 수
        (SELECT COUNT(*) 
         FROM L_REACTION 
         WHERE target_type = 'COMMENT' 
           AND target_code = NC.commented_code 
           AND reaction_type = 'D') AS dislikeCount
        
    FROM NO_COMMENTED NC
    WHERE NC.no_code = #{noCode}
    ORDER BY NC.c_dt DESC
</select>

  

    <!-- 단건 조회 -->
    <select id="doSelectOne" resultType="NoticeCommentDTO"  parameterType="NoticeCommentDTO">
   <!--  SELECT
    COMMENTED_CODE,
    NO_CODE,
    USER_ID,
    CONTENT,
    C_DT,
    UP_DT
    FROM NO_COMMENTED
    WHERE COMMENTED_CODE = #{commentedCode}; -->
    SELECT * 
    FROM NO_COMMENTED
    WHERE COMMENTED_CODE = #{commentedCode}
    </select>

    
      <!-- 댓글 등록 -->
<insert id="doSave" parameterType="NoticeCommentDTO">
    INSERT INTO NO_COMMENTED (
        commented_Code,
        no_code,
        content,
        user_id,
        c_dt
    ) VALUES (
        no_co_seq.NEXTVAL,
        #{noCode},
        #{content, jdbcType=VARCHAR},  <!-- ✅ 핵심 수정 -->
        #{userId, jdbcType=VARCHAR},
        SYSDATE
    )
</insert>
    
    <!-- 수정 -->
    <update id="doUpdate" parameterType="NoticeCommentDTO">
        UPDATE NO_COMMENTED
        SET 
        CONTENT = #{content},
            UP_DT = SYSDATE
        WHERE COMMENTED_CODE = #{commentedCode}
    </update>


    <!-- 삭제 -->
    <delete id="doDelete" parameterType="NoticeCommentDTO">
        DELETE FROM NO_COMMENTED
        WHERE COMMENTED_CODE = #{commentedCode}
    </delete>
    
      <!-- 전체 삭제 -->
      <delete id="deleteAll">
        DELETE FROM NO_COMMENTED
    </delete>
    
    <!-- 등록 건수 세기 -->
      <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) AS totalCnt FROM NO_COMMENTED
    </select>

</mapper>