<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcwk.ehr.mapper.NoticeMapper">

     <!-- 공지사항 등록 -->
    <insert id="doSave" parameterType="NoticeDTO">
        <selectKey keyProperty="noCode" resultType="int" order="BEFORE">
            SELECT NO_SEQ.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO NOTICE (
            NO_CODE,
            USER_ID,
            TITLE,
            CONTENT,
            VIEW_COUNT,
            C_DT,
            UP_DT
        ) VALUES (
            #{noCode},
            #{userId},
            #{title},
            #{content},
            #{viewCount},
            SYSDATE,
            SYSDATE
        )
    </insert>


<insert id="saveAll">
    <![CDATA[
        INSERT INTO NOTICE (
            NO_CODE, TITLE, CONTENT, VIEW_COUNT, C_DT, USER_ID, UP_DT
        )
        SELECT 
            NO_SEQ.NEXTVAL,
            '제목' || LEVEL,
            '내용' || LEVEL,
            0,
            SYSDATE - LEVEL,
            DECODE(MOD(LEVEL,2), 1, 'admin01', 'user01'),
            SYSDATE - LEVEL
        FROM dual
        CONNECT BY LEVEL <= 502
    ]]>
</insert>


    <sql id="noticeWhere">
         <choose>
             <when test=" '10' == searchDiv">
                 AND title LIKE #{searchWord}||'%'
             </when>
             <when test=" '20' == searchDiv">
                 AND content LIKE #{searchWord}||'%'
             </when>        
             <when test=" '30' == searchDiv">
                 AND no_Code = TO_NUMBER(#{searchWord})
             </when>     
             <when test=" '40' == searchDiv">
                 AND ( title LIKE #{searchWord}||'%'
                       OR
                       content LIKE #{searchWord}||'%'
                     )
             </when>                          
         </choose>    
    </sql>


<select id="doRetrieve" parameterType="SearchDTO" resultType="NoticeDTO">
        SELECT A.*,B.*
        FROM (
            SELECT TT1.rnum AS no,
                   TT1.no_Code,
                   TT1.title,
                   TT1.view_Count,
                   DECODE(TO_CHAR(SYSDATE,'YYYY/MM/DD'),TO_CHAR(TT1.up_dt,'YYYY/MM/DD')
                     ,  TO_CHAR(TT1.up_dt,'HH24:MI')
                     ,  TO_CHAR(TT1.up_dt,'YYYY/MM/DD')) up_dt,
                   TT1.user_id
              FROM (
                SELECT ROWNUM rnum, T1.*
                  FROM (
                    SELECT *
                      FROM notice
                       <include refid="noticeWhere"></include> 
                      ORDER BY up_dt DESC
                )T1  
    <![CDATA[   WHERE ROWNUM <=( #{pageSize} * (#{pageNo} - 1)+ #{pageSize}  )
            ) TT1
            WHERE rnum >=( #{pageSize} * (#{pageNo} - 1)+ 1  )
            ]]>    
        )A
        CROSS JOIN(
            SELECT COUNT(*) total_cnt
              FROM notice
             <include refid="noticeWhere"></include> 
        )B
    </select>

    <!-- 공지사항 단건 조회 -->
    <select id="doSelectOne" parameterType="NoticeDTO" resultType="NoticeDTO">
		   SELECT 
			    NO_CODE,
			    USER_ID,
			    TITLE,
			    CONTENT,
			    VIEW_COUNT,
			    TO_CHAR(C_DT, 'YYYY/MM/DD HH24:MI:SS') AS C_DT,
			    TO_CHAR(UP_DT, 'YYYY/MM/DD HH24:MI:SS') AS UP_DT
		FROM NOTICE
		WHERE NO_CODE = #{noCode}
		</select>
    
    <!-- 공지사항 수정 -->
    <update id="doUpdate" parameterType="NoticeDTO">
        UPDATE NOTICE
        SET
            TITLE = #{title},
            CONTENT = #{content},
            UP_DT = SYSDATE
        WHERE NO_CODE = #{noCode}
    </update>
    

    <!-- 공지사항 삭제 -->
    <delete id="doDelete" parameterType="NoticeDTO">
        DELETE FROM NOTICE
        WHERE NO_CODE = #{noCode}
    </delete>

    <!-- 조회수 증가 -->
    <update id="viewCount" parameterType="NoticeDTO">
        UPDATE NOTICE
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE NO_CODE = #{noCode}
    </update>
    
         <!-- 5. 전체 건수 -->
    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM NOTICE
    </select>
    
    
         <!-- 7. 전체 삭제  -->
    <delete id="deleteAll">
        DELETE FROM NOTICE
    </delete>
    
      <select id="getNoSeq" resultType="java.lang.Integer">
        SELECT NO.NEXTVAL FROM dual
    </select>

</mapper>