<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.ReportMapper">

 <insert id="insertReport" parameterType="com.pcwk.ehr.board.domain.ReportDTO">
        INSERT INTO REPORT (
            REPORT_CODE, USER_ID, REASON, TARGET_TYPE, TARGET_CODE
        ) VALUES (
            #{reportCode}, #{userId}, #{reason}, #{targetType}, #{targetCode}
        )
    </insert>

    <select id="selectReportsByUserId" parameterType="string" resultType="com.pcwk.ehr.board.domain.ReportDTO">
        SELECT * FROM REPORT WHERE USER_ID = #{userId}
    </select>

    <select id="selectAllReports" resultType="com.pcwk.ehr.board.domain.ReportDTO">
        SELECT * FROM REPORT ORDER BY REPORT_CODE DESC
    </select>

</mapper>