# ----------------------------------------
# 🔧 IDE 및 빌드 툴 관련 (Eclipse + Maven)
# ----------------------------------------
.classpath
.project
.settings/
.mvn/
target/

# ----------------------------------------
# 📦 패키징 파일
# ----------------------------------------
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# ----------------------------------------
# 🪵 로그 및 실행 중 생성 파일
# ----------------------------------------
logs/
*.log

# ----------------------------------------
# 🧪 테스트/디버깅 임시파일
hs_err_pid*
replay_pid*

# ----------------------------------------
# 💻 OS 및 기타 툴 관련
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# ☑️ 기타
*.class
