@charset "UTF-8";
.comment-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffffc0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.comment-actions button {
    margin-right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    color: #007bff;
}

.notice-actions{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}


